<!DOCTYPE html>
<html>

  <head>
    <h1>Currency pairs</h1>
  </head>

  <body>
     <% @symbols.each do |from_currency| %>
      <li> 
        <a 
        href="/<%= from_currency %>">
        Convert 1  
        <%= from_currency %>
        to
        ...
        </a>
      </li>
      <% end %>
  </body>

</html>
